# Database PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/monitoring_air_coolant?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with: openssl rand -base64 32"

# App
NEXT_PUBLIC_APP_NAME="Monitoring Air Coolant"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
